html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}